.chat-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000000;
    color: #e0e0e0;
    box-sizing: border-box;
  }
  
  .chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #333333;
    background-color: #1a1a1a;
  }
  
  .chat-header::before {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background-color: #6a00ff; /* Фиолетовая палочка */
    margin-right: 15px;
  }
  
  .chat-info {
    margin-left: 15px;
  }
  
  .chat-info h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .message {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }
  
  .message-header {
    font-size: 0.9rem;
    color: #bbbbbb;
    font-weight: bold;
  }
  
  .message.client {
    align-self: flex-start;
  }
  
  .message.freelancer {
    align-self: flex-end;
    text-align: right;
  }
  
  .message.client p {
    background: linear-gradient(135deg, #333333 0%, #444444 100%);
    border-radius: 12px;
    padding: 12px;
    color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    max-width: 100%;
    word-wrap: break-word;
  }
  
  .message.freelancer p {
    background: linear-gradient(135deg, #373737 0%, #4a4a4a 100%);
    border-radius: 12px;
    padding: 12px;
    color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    max-width: 100%;
    word-wrap: break-word;
  }
  
  .message-time {
    font-size: 0.8rem;
    color: #888888;
    margin-top: 5px;
  }
  
  .message-input {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    border-top: 1px solid #444;
    padding: 15px;
    background-color: #1e1e1e;
  }
  
  .message-input input {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #e0e0e0;
  }
  
  .message-input button {
    background: none;
    border: none;
    color: #6a00ff;
    font-size: 1.3rem;
    cursor: pointer;
    margin-left: 10px;
  }
  
  /* Media Queries для улучшения адаптивности */
  @media (max-width: 480px) {
    .chat-info h1 {
      font-size: 1.1rem;
    }
  
    .message-input input {
      font-size: 0.75rem;
      padding: 15px;
    }
  
    .message-input button {
      font-size: 1.2rem;
    }
  }
  