
/* src/components/LogoAnimation.css */
.logo-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px; /* Высота логотипа */
  }
  
  .animated-logo {
    width: 120px; /* Ширина логотипа */
    height: auto;
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  