/* Общие стили для navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 20px; /* Отступ от нижнего края экрана */
  left: 20px; /* Отступ от левого края экрана */
  right: 20px; /* Отступ от правого края экрана */
  background: rgba(42, 42, 42, 0.7); /* Полупрозрачный фон */
  border-radius: 20px; /* Скругление углов */
  padding: 10px 20px; /* Отступы внутри контейнера */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Тень для эффекта */
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(20px); /* Эффект размытия */
}

/* Стили для ссылок в navbar */
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e0e0e0;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
  padding: 12px 16px; /* Отступы вокруг иконки и текста */
  border-radius: 20px; /* Округление углов для ссылок */
}

.nav-item.active {
  color: #bb86fc;
  background-color: #0e0e0ea1;
}

.nav-icon {
  font-size: 1.5rem;
}

.nav-text {
  font-size: 0.8rem;
  margin-top: 4px;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
  .navbar {
    padding: 8px 16px; /* Отступы для мобильных устройств */
    left: 10px; /* Уменьшаем отступы от краев экрана для мобильных устройств */
    right: 10px;
  }

  .nav-icon {
    font-size: 1.3rem;
  }

  .nav-text {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 6px 12px; /* Дополнительное уменьшение отступов для маленьких экранов */
    left: 5px; /* Минимальные отступы от краев экрана */
    right: 5px;
  }

  .nav-icon {
    font-size: 1.2rem;
  }

  .nav-text {
    font-size: 0.6rem;
  }
}
