@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


/* Main.css */
body, html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #000000;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Предотвращает прокрутку главного контейнера */
}

.content {
  flex: 1;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  overflow-y: auto; /* Позволяет прокручивать контент, если он превышает высоту контейнера */
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  backdrop-filter: blur(20px); /* Эффект размытия */
  padding: 10px 20px;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed; /* Фиксирует navbar внизу экрана */
  bottom: 0;
  width: 100%;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #64748B; /* Неактивный цвет */
  text-align: center;
  cursor: pointer;
}

.nav-item.active {
  color: #ffffff; /* Активный цвет */
}

.nav-icon {
  font-size: 22px;
  margin-bottom: 5px; /* Увеличиваем отступ между иконкой и текстом */
  stroke: currentColor; /* Цвет контура иконок */
  stroke-width: 2; /* Толщина контура */
}

.nav-text {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
