/* General Styles */
.settings-container {
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
}

/* Light Theme */
.settings-container.light {
    background-color: #ffffff;
    color: #000000;
}

.settings-container.light .settings-title {
    color: #6200ee;
}

.settings-container.light .section-title {
    color: #333333;
}

.settings-container.light .setting-item {
    border-bottom: 1px solid #dddddd;
}

.settings-container.light .setting-button {
    background-color: #6200ee;
    color: #ffffff;
}

.settings-container.light .setting-button:hover {
    background-color: #3700b3;
}

.settings-container.light .switch .slider {
    background-color: #777;
}

.settings-container.light .switch input:checked + .slider {
    background-color: #6200ee;
}

/* Dark Theme */
.settings-container.dark {
    background-color: #000000;
    color: #ffffff;
}

.settings-container.dark .settings-title {
    color: #6200ee;
}

.settings-container.dark .section-title {
    color: #bbbbbb;
}

.settings-container.dark .setting-item {
    border-bottom: 1px solid #333333;
}

.settings-container.dark .setting-button {
    background-color: #6200ee;
    color: #ffffff;
}

.settings-container.dark .setting-button:hover {
    background-color: #3700b3;
}

.settings-container.dark .switch .slider {
    background-color: #777;
}

.settings-container.dark .switch input:checked + .slider {
    background-color: #6200ee;
}

/* Common Styles */
.settings-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

.settings-section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    border-bottom: 1px solid #333333;
    padding-bottom: 10px;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.setting-label {
    font-size: 16px;
    font-weight: 400;
}

.setting-button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 8px 15px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
}


.setting-button:active {
    transform: scale(0.98);
}

.setting-value {
    font-size: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #777;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #6200ee;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.settings-section-theme {
    margin-bottom: 100px;
}